@use '../variables';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary{
        color: #FFF;
        background-color: variables.$primaryButtonColor;
    }

    @media (max-width:640px){
        display: block;
        width: 100%;
    }
}