@use '../variables';

.button{
    padding: 8px;
    background-color: variables.$buttonColor;
    text-decoration: none;
    color: variables.$mainColor;
    border-radius: 8px;
    
    @media (max-width: 767px){
        width: 100%;
    }
}